<div class="container">
    	<h1 class="well">Create Products</h1>
		<div class="col-lg-12 well">
				<div class="row">
					<div class="col-sm-6 form-group">
            <label>Receiver Name </label>
            <input type="text" [(ngModel)]="formInfo.recieve" name="recieve" placeholder="Receiver Name" class="form-control" />

					</div>
					<div class="col-sm-6 form-group">
            <label for="date">Date</label>
            <input type="date" [(ngModel)]="formInfo.delivery" name="date" id="birthday" class="form-control">
					</div>
				</div>
        <div class="row">
				  <div class="col-sm-12 text-center">
            <label> Address </label>
            <input type="address" [(ngModel)]="formInfo.address" name="address" placeholder="Address" class="form-control">
				  </div>
				</div>
        <br><br>

				<div class="row">
				  <div class="col-sm-12 text-center">
            <button class="btn btn-block btn-info" (click)="createBox()"> Order your box </button>
				  </div>
				</div>


		</div>
	</div>


<div class="box-single">
  <h2>single box: 25 Euros</h2>

<img [height]="100" src="http://cdn.shopify.com/s/files/1/0317/1509/products/Mystery_Box_grande.jpg?v=1418408240" alt="">
</div>
