<div class=" jumbotron">
  <div *ngIf="role === admin" class="container ">
    <div class="margin-aPelo">
      <div class="list-giftboxes" *ngFor="let order of allBoxes | async">
        <div class="container">
          <div class="row item-job-list ">
            <div class="col-sm-3 col-md-3 block-col block-col-1">
              <p class="block-pid block-hdr">{{order._id}}</p>
              <p class="block-application block-hdr">
                {{order.created_at | date: 'dd/MM/yyyy '}}</p>
              <p class="block-product block-hdr">{{order.productsID[0]}}</p>
              <p class="block-product block-hdr">{{order.productsID[1]}}</p>
              <p class="block-product block-hdr">{{order.productsID[2]}}</p>
              <p class="block-type block-hdr">{{order.type}}</p>
              <p class="block-status block-hdr">{{order.status}}</p>
            </div>
            <div class="col-sm-3 col-md-3 block-col block-col-2">
              <p class="block-organization block-hdr">{{order.userId}}</p>
              <ul class="block-do-action">
                <li class="item-block-application-id">{{user.lastName}} <a href=""><i class="glyphicon glyphicon-edit"></i></a></li>
                <li class="item-block-module-id">{{user.phone}}<a href=""><i class="glyphicon glyphicon-edit"></i></a></li>
                <li class="item-block-class-id">{{user.email}} <a href=""><i class="glyphicon glyphicon-edit"></i></a></li>
                <li class="item-block-action-id">{{user.address}}<a href=""><i class="glyphicon glyphicon-edit"></i></a> </li>
              </ul>
            </div>
            <div class="col-sm-3 col-md-3 block-col block-col-3">
              <p class="block-last-execution block-hdr">
                {{order.recieve}}
              </p>
              <p class="block-next-execution block-hdr">
                {{order.delivery | date: 'dd/MM/yyyy'}}
                <a href=""><i class="glyphicon glyphicon-edit"></i></a>
              </p>
              <p class="block-recurring block-hdr">
                {{order.address}}
                <a href=""><i class="glyphicon glyphicon-edit"></i></a>
              </p>
            </div>
            <div class="col-sm-3 col-md-3 block-col block-col-4">
              <ul class="block-toolbar">
                <a [routerLink]="['/orderdetail/${_id}']">
                  <li class="btn btn-default btn-sm btn-success"><i class="fa fa-toggle-off"></i> Order Status</li>
                </a>
                <li class="btn btn-default btn-sm btn-primary"><i class="fa fa-play"></i> Run</li>
                <li class="btn btn-default btn-sm"><i class="fa fa-clone"></i> Duplicate</li>
                <li class="btn btn-default btn-sm"><i class="glyphicon glyphicon-list"></i> History</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
