
<div *ngIf="admin" class="container">



<div class="container margin-aPelo">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">

						<div class="preview-pic tab-content">
<img [src]='"http://localhost:3000/"+product.imageUrl' class="img-responsive img-box img-thumbnail">
						</div>


					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{ product.name }}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="price">{{ product.description }}</p>
						<h4 class="price">current price: <span>$  {{ product.price }}</span></h4>
						<h4 class="price">Price Category:<span>  {{ product.priceCategory }}</span>  </h4>
						<h5 class="price">Created :
							<span class="price" data-toggle="tooltip" title="small">{{product.created_at}}</span>

						</h5>
            <h5 class="price">Id:
							<span class="size" data-toggle="tooltip" title="small">{{product._id}}</span>

						</h5>

						<div class="action">
              <a [routerLink]="['/product']"  class="add-to-cart btn btn-default" >List Products</a>
              <a [routerLink]="['/editproduct']"  class="add-to-cart btn btn-default" >Edit</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
