a.list-group-item {
  height:auto;
  min-height:220px;
}
a.list-group-item.active small {
  color:#fff;
}
.stars {
  margin:20px auto 1px;
}
img{
 width: 350px;
 height: 200px;
}
p{
 color:black;
 font-size: 20px;
}
.btn-pelo{
  background-color:#00547E;
  color:white;
}
