<div class="" *ngFor="let product of allProducts">
<div class="container">
	<div class="row">
		<div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a [routerLink]="[product._id]">
                            <img src="{{product.imageUrl}}" class="img-responsive img-box img-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a [routerLink]="[product._id]" title="sintret">
                                        <img class="circle img-thumbnail img-box" src="http://www.anp.com.uy/wps/wcm/connect/c50219bd-cff2-4e4b-9d7c-49fae769a4df/informacion+%281%29.jpg?MOD=AJPERES&CACHEID=c50219bd-cff2-4e4b-9d7c-49fae769a4df" alt="sintret">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a [routerLink]="[product._id]" title="sintret">
                                            <small>{{product.name}}</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-euro"></i> {{product.price}}
                                        <br>
                                        <span class="explore"><i class="glyphicon glyphicon-th"> {{product.priceCategory}}</i> <a href="#"></a></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a [routerLink]="['/detail']">{{product.name}}</a></h4>
                        <p>{{product.description}}</p>
                    </div>
                </div>
                <hr>
	</div>
</div>
</div>
