<p>
  product-listt works!
</p>
<form>
  <h2> Products </h2>
  <label> name </label>
  <input type="text" [(ngModel)]="formInfo.name" name="name" placeholder="Jose" />
  <br>
  <label> Description </label>
  <input type="description" [(ngModel)]="formInfo.description" name="description" placeholder="" />
  <br>
  <label>Price</label>
  <input type="number" [(ngModel)]="formInfo.price" name="price" />
  <br>
  <label for="imageUrl">image Url</label>
  <input type="imageUrl" [(ngModel)]="formInfo.imageUrl" name="imageUrl" placeholder="Url" />
  <br>
  <label for="priceCategory">Price Category</label>
  <select [(ngModel)]="formInfo.priceCategory" name="priceCategory">
                <option value="unknown">Select Category</option>
               <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
                </select> <br>

  <label for="category">Category</label>
  <select [(ngModel)]="formInfo.category" name="category">
                <option value="unknown">Select Category</option>
               <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="technology">Technology</option>
                <option value="accesory">Accesory</option>
                <option value="toy">Toy</option>
                <option value="sport">Sport</option>
                <option value="kitchen">Kitchen</option>
                <option value="pet">Pet</option>
                <option value="gamer">Gamer</option>
                <option value="antiques">Antiques</option>
                <option value="fashion">Fashion</option>

              </select> <br>
  <button (click)="addProduct()"> Crear Product </button> <br>
  <button (click)="editProduct()"> edit Product </button>


</form>
<div class="asd">
    <h3>Search BAR</h3>
    <input id="search" type="search" placeholder="Busca croquetas, pique macho..." required>
</div>
<p class="error"> {{ error }} </p>
