<div class="" *ngFor="let product of allProducts">
<div class="container margin-top">
    <div class="row">
        <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a [routerLink]="[product._id]">
                            <img [src]='"http://localhost:3000/"+product.imageUrl' class="img-responsive img-box img-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a [routerLink]="[product._id]" title="sintret">
                                        <img class="circle img-thumbnail img-box" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKpxFNIudkmFgUIG4KF37hCkd4lF8vDT9E2jCcSzjMm_S6BDiM" alt="sintret">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a [routerLink]="[product._id]" title="sintret">
                                            <small>{{product.name}}</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-euro"></i> {{product.price}}
                                        <br>
                                        <span class="explore"><i class="glyphicon glyphicon-th"> {{product.priceCategory}}</i> <a href="#"></a></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a [routerLink]="['/detail']">{{product.name}}</a></h4>
                        <p>{{product.description}}</p>
                    </div>
                </div>
                <hr>
    </div>
</div>
</div>
