
<div *ngIf="admin" class="container ">
<div *ngIf="user" class="container ">
	<div class="container jumbotron">

	<div class="container">

		<br>
		<div class="row" id="main">
			<div class="col-md-4 well" id="leftPanel">
				<div class="row">
					<div class="col-md-12">
						<div>
							<h2>{{user.lastName}}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<div class="btn-group">
								<button type="button" class="btn btn-warning">
                                Social</button>
								<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
								<ul class="dropdown-menu" role="menu">

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 well" id="rightPanel">
				<div class="row">
					<div class="col-md-12">
						<form role="form">
							<h2>GiftBox</h2>
							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" [(ngModel)]="formInfo.status" name="status" id="status" class="form-control input-lg" placeholder="{{formInfo.status}}" tabindex="1">
									</div>
								</div>
							</div>

							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-md-6"></div>
								<div class="col-xs-12 col-md-6"><button class="btn btn-success btn-block btn-lg" type="button" name="button" (click)='editOrder()'>Edit</button></div>
								<p class="error"> {{ error }} </p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
