 <div *ngIf="user" class="container ">
<div class="container" style="margin-top: 30px;">
    <div class="profile-head">
        <!--col-md-4 col-sm-4 col-xs-12 close-->
        <div class="col-md- col-sm-4 col-xs-12">
            <img [src]='"http://localhost:3000/"+user.imageUrl' class="img-responsive"/>
            <h6>{{user.username}}</h6>
            <div class="container"style="margin-left: 90px;">
                <span class="btn btn-default uplod-file">
                      <a  [routerLink]="['/edit']" >Edit my Profile</a>
                </span>
            </div>
        </div>


        <div class="col-md-5 col-sm-5 col-xs-12">
            <h5>{{user.lastName}}</h5>

            <ul>
                <li><span class="glyphicon glyphicon-briefcase"></span> 31 years</li>
                <li><span class="glyphicon glyphicon-map-marker"></span> {{user.country}}</li>
                <li><span class="glyphicon glyphicon-home"></span>{{user.address}}</li>
                <li><span class="glyphicon glyphicon-phone"></span> <a href="#" title="call">{{user.phone}}</a></li>
                <li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail">{{user.email}}</a></li>
            </ul>
        </div>

</div>
</div>

</div>
<div *ngIf="role === admin" class="container ">

<a [routerLink]="['/product']">Products</a>
<a [routerLink]="['/orderslist']">Orders from all users</a>


</div>
 <a [routerLink]="['/order']">Order Your Box</a>
<app-order-list-by-user></app-order-list-by-user>
