 <div *ngIf="user" class="container ">
<div class="container" style="margin-top: 30px;">
    <div class="profile-head">
        <!--col-md-4 col-sm-4 col-xs-12 close-->
        <div class="col-md- col-sm-4 col-xs-12">
            <img [src]='"http://localhost:3000/"+user.imageUrl' class="img-responsive"/>
            <h6>{{user.username}}</h6>
            <div class="container"style="margin-left: 90px;">
                <span class="btn btn-default uplod-file">
                      <a  [routerLink]="['/edit']" >Edit my Profile</a>
                </span>
            </div>
        </div>


        <div class="col-md-5 col-sm-5 col-xs-12">
            <h5>{{user.lastName}}</h5>

            <ul>
                <li><span class="glyphicon glyphicon-briefcase"></span> 31 years</li>
                <li><span class="glyphicon glyphicon-map-marker"></span> {{user.country}}</li>
                <li><span class="glyphicon glyphicon-home"></span>{{user.address}}</li>
                <li><span class="glyphicon glyphicon-phone"></span> <a href="#" title="call">{{user.phone}}</a></li>
                <li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail">{{user.email}}</a></li>
            </ul>
        </div>

</div>
</div>
<div class="page-header">
  <h1>How Its Works</h1>
</div>

    <div class="container">
    			<div class="row pricing">
                        <div class="col-md-6">
						<div class="well">
							<h3><b>Buy a box for your friends?</b></h3>
							<hr>
							<p><b>Create an gift box. It's easy.</b></p>
							<hr>
							<p><b>Choose yourindustry and interests</b></p>
							<hr>
							<p><b>Tell us the candidate you’re looking for.</b></p>
                            <hr>
							<p><b>Tell us where you want your candidates delivered.</b></p>
                            <hr>
							<p><b>Only pay when someone applies. No more waste.</b></p>
							<hr>
							<a [routerLink]="['/order']" class="btn btn-default btn-block btn-pelo"> ORDER GIFT BOX</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="well">
							<h3><b>Looking For A MBOX?</b></h3>
							<hr>
							<p><b>Buy your box. It’s so esay.</b></p>
							<hr>
							<p><b>Join the millions of users using MOBX.</b></p>
							<hr>
							<p><b>Tell us about yourself.</b></p>
                            <hr>
							<p><b>Tell us how you want to learn about new job openings.</b></p>
                            <hr>
							<p><b>One Click Apply to jobs anytime. Anywhere.</b></p>
							<hr>
							<a [routerLink]="['/order']" class="btn btn-default btn-block btn-pelo">ORDER YOUR BOX</a>
						</div>
					</div>
        </div>
     </div>

</div>


<app-order-list-by-user></app-order-list-by-user>
