 /*NAV PRUEBA*/

 .navbar-login {
   width: 305px;
   padding: 10px;
   padding-bottom: 0px;
 }

 .navbar-login-session {
   padding: 10px;
   padding-bottom: 0px;
   padding-top: 0px;
 }

 .icon-size {
   font-size: 87px;
 }

 .navbar-default {
   background-color: #00547E;
   border-color: #121212;
   padding: 10px;
   color: white;
   font-size: 20px;
 }

   .navbar-default .navbar-nav>li>a {
      color: white;
  }
  .navbar-brand > span{
    font-size: 25px;
    color:white;
  }


 /*FOOTER*/

 .container-footer {
   background-color: #00547E;
   color: white;
 }

 .container-fluid {
   background-color: #00547E
 }

 .container button {
   width: 100%;
 }

 .container ul li {
   cursor: pointer;
 }
 .row{
   color:white;
 }
 .col-lg-8 {
    width: 66.66666667%;
    color: black;
}
.navbar-fixed-top{
  margin-bottom: 200px;
}
