<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Slab" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="menu">
    <div class="container-fluid">
		<div class="navbar-header">
			<a [routerLink]="['/']">Mbox</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li><a [routerLink]="['/signup']" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        	<li><a [routerLink]="['/']"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
<div class="container-fluid">
				<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<h3>LATEST POST</h3>
						<ul class="w3-ul w3-hoverable">
							<li>BROWSER UPDATE</li>
							<li>MOBILE SUPPORT</li>
							<li>DESKTOP</li>
							<li>FIRMWARE</li>
							<li>COOKIES</li>
							<li>CACHE</li>
							<li>ADMIN SUPPORT</li>
							<li>BUGG</li>
							<li>OPEN GRAPH</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<h3>RESOURCES</h3>
						<ul class="w3-ul w3-hoverable">
							<li>BOOTSTRAP</li>
							<li>W3SCHOOL W3-CSS</li>
							<li>KICKSTRAP</li>
							<li>STACK-OVERFLOW</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<h3>SERVICE</h3>
						<ul class="w3-ul w3-hoverable">
							<li>WEB GRAPHICS</li>
							<li>WEB DEVELOPEMENT</li>
							<li>DEVICE MANAGEMENT</li>
							<li>RESEARCH DEVELOPEMENT</li>
							<li>24 HOURS OPERATION</li>
							<li>TECHNICAL SUPPORT</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<h3>CONTACT US</h3>
						<ul class="w3-ul w3-hoverable">
							<li>
								<label for="usr">Name:</label>
								<input type="text" class="form-control input-sm" id="usr">
							</li>
							<li>
								<label for="usr">Email:</label>
								<input type="text" class="form-control input-sm" id="usr">
							</li>
							<li>
								<label for="usr">Mobile:</label>
								<input type="text" class="form-control input-sm" id="usr">
							</li>
							<li>
								<label for="usr">Subject:</label>
								<input type="text" class="form-control input-sm" id="usr">
							</li>
							<li>
 								<button class="w3-btn w3-blue w3-xlarge "> CONTACT NOW</button>
 							</li>
						</ul>

					</div>
				</div>
			</div>
			</div>
			<hr>
