<div class="container margin-aPelo">
  <h1 class="well">Crear Products</h1>
  <div class="col-lg-12 well">
    <div class="row">
      <div class="col-sm-6 form-group">

        <label> Name </label>
        <input type="text" [(ngModel)]="formInfo.name" name="name" placeholder="Name Producto" class="form-control" />
        <p class="error"> {{ error }} </p>
      </div>
      <div class="col-sm-6 form-group">
        <label>Price</label>
        <input type="number" [(ngModel)]="formInfo.price" name="price" class="form-control" />

      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 form-group">
        <label for="uploaderImage">Upload Image</label>
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" class="form-control" />


      </div>
      <div class="col-sm-6 form-group">
        <label for="gender">Product Gender</label>
        <select [(ngModel)]='formInfo.gender' class="gender-product" name="genderProduct" class="form-control">
                          <option value="male">Male</option>
                          <option value="female">female</option>
                          <option value="both">Both</option>
            </select>

      </div>

      <div class="col-sm-6 form-group">
        <label for="category">Category</label>
        <select [(ngModel)]="formInfo.category" multiple name="category" class="form-control">
                         <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="technology">Technology</option>
                          <option value="accesory">Accesory</option>
                          <option value="toy">Toy</option>
                          <option value="sport">Sport</option>
                          <option value="kitchen">Kitchen</option>
                          <option value="pet">Pet</option>
                          <option value="gamer">Gamer</option>
                          <option value="antiques">Antiques</option>
                          <option value="fashion">Fashion</option>

                        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <label> Description </label>
        <textarea type="text" [(ngModel)]="formInfo.description" name="description" placeholder="" class="form-control"></textarea>
        <p class="error"> {{ error }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button class="btn btn-block btn-info" (click)="addProduct()"> Crear Product </button>
      </div>
    </div>
  </div>
</div>
